@font-face {
    font-family: 'GoodDog';
    src: url(./fonts/GoodDog-webfont.woff);
}

:root{
    font-family: 'GoodDog';
}
p{
    margin-right:10px;
}
.cupcake{
    background-image: url(images/sprite.png);
    width: 64px;
    height:64px;
    margin-right:10px;
}
.donut{
    background-image: url(images/sprite.png);
    width: 64px;
    height:64px;
    background-position:0% 64px;
}
.roll{
    background-image: url(images/sprite.png);
    width: 64px;
    height:64px;
    background-position:0% 128px;
}
.applepie{
    background-image: url(images/sprite.png);
    width: 64px;
    height:64px;
    background-position:0% 192px;
}
a{
    font-size:30px;
    text-decoration: none;
    color:rgb(87, 38, 23);
}

li{
    list-style: none;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color:orange;
    width:150px;
    padding:0 20px;
}
li:nth-child(1){
    border-radius:10px 10px 0 0;
}
li:nth-child(4){
    border-radius:0 0 10px 10px;
}
