/* para que no se vea el navbar ni el footer cuando está embeddeado en un iframe */
body::-webkit-scrollbar{
    width:5px;
    border-radius:5px;
    background-color:#212529;
}
body::-webkit-scrollbar-thumb{
    background:white;
    border-radius:5px;
}

.margen-de-mas{
    margin-top:100px;
}
