@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../fonts/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Bold-Oblique';
    src: url('../fonts/Helvetica-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: 'Helvetica-Oblique';
    src: url('../fonts/Helvetica-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Helvetica-Rounded-Bold';
    src: url('../fonts/helvetica-rounded-bold-5871d05ead8de.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url('../fonts/helvetica-light-587ebe5a59211.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Megrath';
    src: url('../fonts/MEGRATH-BF64ec4c3eafd5b.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}