@import "./variables.scss";

.swiper {
    height:100%;
  }
.card-wrapper .swipper-slide-button{
    opacity:0;
    width:180px;
    height:300px;
    margin-top:-150px;
}
@media (max-width:1000px){
    .card-wrapper .swipper-slide-button{
        display:none;
    }
}
.pagination-margin{
    margin-top:100px;
    padding-top:200px;
}
.card-wrapper{
    margin:0 60px 35px;
}
.card-wrapper .swiper-pagination-bullet{
    height:7px;
    width:30px;
    border-radius:0;
    background:$secondary-color;
}

.card-list .card-item .card-link{
    display:flex;
    justify-content:center;
    margin:auto;
    max-width:300px;
    border: 3px solid $secondary-color;
    border-radius:10px;
    overflow:hidden;
}
.card-image{
    aspect-ratio:9/16;
    object-fit: cover;
}

.character-info{
    display:flex;
}
.character-items div{
    display:flex;
}
